################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyVitarak/v15/Server/sqlite3/db.lock
*.suo
*.config
*.ide
*.ide-shm
*.ide-wal
/MyVitarak/Scripts/autocomplete/license.txt
/MyVitarak/Properties/PublishProfiles/FolderProfile1.pubxml.user
/MyVitarak/Properties/PublishProfiles/FolderProfile1.pubxml
*.dll

