
@using System.Data
@model System.Data.DataTable

<script src="~/Scripts/jquery-1.12.4.min.js"></script>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="marginTop140 marginBottom40">
    <div class="col-xs-12">
        <div class="btn-toolbar pull-left" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="First group">
                <div class="btn btn-default">
                    <div class="form-check height20Pixel">
                        <input class="form-check-input" type="checkbox" id="selectAll">
                        <label class="form-check-label verticalAlignTop" for="selectAll">1</label>
                    </div>
                </div>
                
            </div>
        </div>
        <form class="navbar-form pull-left marginTop0">
            <h2 style="margin-top:auto" id="name"></h2> 
        </form>
        
          <a class="btn btn-primary pull-right marginRight15px" href="~/CustomerLedgerXLSheet/1/generated/CustomerLedgerReport.xls"><i class="fa fa-file-excel-o" aria-hidden="true"> </i> Export</a>
          <input type="date" id="txtdate" class="form-control pull-right marginRight15px" style="width:162px">
        @Html.DropDownList("CustomerList", new SelectList((System.Collections.IEnumerable)ViewData["CustomerList"], "Value", "Text"), "Select Customer", new { @class = "form-control pull-right marginRight15px", @id = "Customerid", Title = "ModeName", style="width:155px;" })
        

    </div>
    <div id="grid1" class="col-xs-12 scroll-x" >
        @Html.Partial("_partialCustomerLedgerGrid")
    </div>
</div>

<script>
    $('#CL').addClass("active"); 
    $(document).ready(function () {
        $("name").hide();
        $("#selectAll").click(function () {
            $('input:checkbox').not(this).prop('checked', this.checked);
        });
    });
    $('#txtdate').on('change', function () {

     $.ajax({
            url: "@Url.Action("LoadCustomerLedger", "Report")",
         contentType: "application/json",
         data: JSON.stringify({ custid: $('#Customerid').val(), date: $('#txtdate').val() }),
            dataType: "text",
            type: "POST",
            async: true,
            success: function (data) {
                $('#grid1').html(data);

            },
            error: function (data) {

            },
         complete: function () {

         }

        });
    });


    $('#Customerid').on('change', function () {
        var temp = $("#Customerid option:selected").text();
        $("#name").html(temp);
        $("#name").show();

     $.ajax({
            url: "@Url.Action("LoadCustomerLedger", "Report")",
         contentType: "application/json",
         data: JSON.stringify({ custid: $('#Customerid').val(), date: $('#txtdate').val() }),
            dataType: "text",
            type: "POST",
            async: true,
            success: function (data) {
                $('#grid1').html(data);

            },
            error: function (data) {

            },
         complete: function () {

         }

        });
    });
</script>

